<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Mongoose Dashboard</title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="shortcut icon" href="">
</head>
<body>
	<% for (let animal of animals) {%>
		<fieldset>
			<legend>Animal</legend>
			<p>Animal: <%= animal.name %></p>
			<p>Number of legs: <%= animal.numLegs %></p>
			<a href="/mongooses/<%= animal._id%>">show</a>
			<a href="/mongooses/edit/<%= animal._id%>">edit</a>
			<form action="/mongooses/destroy/<%= animal._id%>" method="POST">
				<button>Delete</button>
			</form>
		</fieldset>
	<% } %>
	<h4>Add new animal</h4>
	<form action="mongooses/new">
		<button>Add</button>
	</form>
</body>
</html>